@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
}

text {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}
p {
  color: #ffffff;
}

.skills-container {
  @apply flex flex-col gap-4 rounded-2xl border border-neutral-300 dark:border-neutral-700 shadow-md p-6 w-full max-w-md;
}

.fila-skills {
  @apply flex items-center justify-center flex-wrap gap-5;
}

.skill {
  @apply w-12 h-12 md:w-14 md:h-14;
}

.title-skills {
  @apply text-2xl font-semibold text-center text-black dark:text-white;
}
